# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
Manual-PGDP-Novo/.venv/

# DB local
db.sqlite3
Manual-PGDP-Novo/db.sqlite3

# VSCode/Codespaces
.vscode/
*.code-workspace

# Static collect
staticfiles/
